body {
  background-color: white;
}

.name {
    text-align: center;
    color: black;
    font-size: 40px;
}


.social {
    text-align: center;
    border-spacing: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

p {
    color: grey;
}

#github,
#linkedin,
#resume {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

tr:hover {
    text-decoration: none;
}